:root {
  --astar-icon: url('/img/astar-logo.svg');
  --builders-icon: url('/img/builders.svg');
  --staking-icon: url('/img/stake.svg');
  --guide-icon: url('/img/guide.svg');
}

html[data-theme='dark'] {
  --astar-icon: url('/img/astar-logo-white.svg');
  --builders-icon: url('/img/builders-white.svg');
  --staking-icon: url('/img/stake-white.svg');
  --guide-icon: url('/img/guide-white.svg');
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.categoryButton {
  border: none;
  height: 60px;
  width: 250px;
  background-color: white;
  color: var(--text-color-title);
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: opacity 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow {
  font-size: 20px;
  margin-top: -12px;
  margin-left: 8px;
}

html[data-theme='dark'] .categoryButton {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

.categoryButton.fadeOut {
  opacity: 0;
}

.menuModal {
  position: absolute;
  top: 30px; /* Adjust this to start from the button */
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  border: 1px solid var(--text-input-background);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  animation: slide-down 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--box-background);
  padding: 16px;
}

.menuItem {
  border: none;
  border-radius: 8px;
  width: 320px;
  padding: 4px;
  background-color: var(--box-background);
  color: var(--text-color-title);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}

.closeButton {
 align-self: flex-end;
 background: none;
 border: none;
 border-radius: 12px;
 cursor: pointer;
 font-size: 18px;
 font-weight: 500;
 color: var(--text-color-description);
}

.menuItem:hover, .closeButton:hover {
  background-color: var(--box-background-hover);
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  position: relative;

}

.dummyArticle {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}