---
sidebar_position: 2
---

# Contract Verification

There is two ways to verify your contract.

### Sirato and chainIDE

Please check this [section](/docs/build/wasm/chainide-for-astar-wasm/use.md) of the docs to verify contract using chainIDE.

### Patron

Please follow this [tutorial](https://polkaverse.com/11143/9-verify-a-ink-smart-contract-with-patron-39541) to verify your contract using Patron.