/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

$astar-blue: #0085ff;
$astar-blue-dark: #05b6fd;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #001f40;
  --ifm-color-primary-dark: #3272d8;
  --ifm-color-primary-darker: #2c63bb;
  --ifm-color-primary-darkest: #2858a7;
  --ifm-color-primary-light: #4daac6;
  --ifm-color-primary-lighter: #5ecbec;
  --ifm-color-primary-lightest: #64d7fb;
  --ifm-code-font-size: 95%;
  --box-background: #ffffff;
  --text-color-description: #001f40;
  --text-color-title: #0085ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3578e7;
  --ifm-color-primary-dark: #3272d8;
  --ifm-color-primary-darker: #2c63bb;
  --ifm-color-primary-darkest: #2858a7;
  --ifm-color-primary-light: #4daac6;
  --ifm-color-primary-lighter: #5ecbec;
  --ifm-color-primary-lightest: #64d7fb;
  --box-background: #1b1e21;
  --text-color-description: #ffff;
  --text-color-title: #05b6fd;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

$xs: 375px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;