@import './custom.scss';

.section--front-page {
  width: 100%;
  padding: 54px 0;
}

.container--front-page {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 54px;
  @media (min-width: $lg) {
    grid-template-columns: auto auto;
    column-gap: 42px;
  }
  @media (min-width: $xxl) {
    grid-template-columns: auto auto auto;
    column-gap: 50px;
  }
  @media (min-width: 1900px) {
    grid-template-columns: auto auto auto auto;
  }
}

.box {
  width: 340px;
  height: 186px;
  background-color: var(--box-background);
  padding: 14px 24px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    transform: scale(1.03);
    transition: 0.3s;
  }
  @media (min-width: $md) {
    width: 100%;
    max-width: 480px;
    padding: 20px 38px;
  }
  @media (min-width: $lg) {
    max-width: 460px;
  }
  @media (min-width: $xxl) {
    width: 420px;
  }
}

.icon {
  width: 38px;
  height: 38px;
}

.node::before {
  content: url('../../static/img/node.svg');
}

.wasm::before {
  content: url('../../static/img/wasm.svg');
}

.zkevm {
  content: url('../../static/img/zkevm.png') !important;
  height: 38px;
  width: 38px;
}

.ecosystem::before {
  content: url('../../static/img/ecosystem.svg');
}

.aboutastar::before {
  content: url('../../static/img/aboutastar.svg');
}

.tool::before {
  content: url('../../static/img/tool.svg');
}

.wrench::before {
  content: url('../../static/img/wrench.svg');
}

.evm::before {
  content: url('../../static/img/evm.svg');
}

.wasm::before {
  content: url('../../static/img/wasm.svg');
}

.broadcast::before {
  content: url('../../static/img/broadcast.svg');
}

.tool::before {
  content: url('../../static/img/tool.svg');
}

.staking {
  padding-top: 6px;
}

.staking::before {
  content: url('../../static/img/staking.svg');
}

.docs::before {
  content: url('../../static/img/docs.svg');
}

.row--title {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 22px;
}

.text--title {
  color: var(--text-color-title);
  font-size: 16px;
  font-weight: 800;
}

.row--description {
  line-height: 18px;
}

.text--description {
  color: var(--text-color-description);
  font-size: 14px;
  font-weight: 500;
}
